<div class="fr-view" style="border: dotted 2px gray; padding: 10px; margin: 5px;">
  <%= @book.content.html_safe %>
</div>


<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
